In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df = pd.read_csv("Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
df.shape

(13320, 9)

In [15]:
df["area_type"].value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

In [18]:
# drop non-important columns

df2 = df.drop(["area_type","society","balcony","availability"], axis = 1)

In [19]:
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [22]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [24]:
df3=df2.dropna()

In [26]:
df3.shape

(13246, 5)

In [28]:
df3["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [29]:
df3["BHK"] = df3["size"].apply(lambda x : x.split(" ")[0])

C:\Users\jaint\AppData\Local\Temp\ipykernel_1232\2090320225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["BHK"] = df3["size"].apply(lambda x : x.split(" ")[0])

In [30]:
df3.head()

                   location       size total_sqft  bath   price BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2               Uttarahalli      3 BHK       1440   2.0   62.00   3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00   3
4                  Kothanur      2 BHK       1200   2.0   51.00   2

In [31]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [32]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [36]:
df3[~df3["total_sqft"].apply(is_float)].head(10)

               location       size      total_sqft  bath    price BHK
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000   4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000   4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005   2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490   2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800   2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500   1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770   2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000   9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130   2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000   4

In [40]:
def convert_sqft_to_num(x):
    tokens  = x.split("-")
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [41]:
convert_sqft_to_num("2166")

2166.0

In [42]:
convert_sqft_to_num("1195 - 1440")

1317.5

In [46]:
df4 = df3.copy()
df4["total_sqft"] = df4["total_sqft"].apply(convert_sqft_to_num)

In [49]:
df4.head(10)

                   location       size  total_sqft  bath   price BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00   4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00   3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00   3
4                  Kothanur      2 BHK      1200.0   2.0   51.00   2
5                Whitefield      2 BHK      1170.0   2.0   38.00   2
6          Old Airport Road      4 BHK      2732.0   4.0  204.00   4
7              Rajaji Nagar      4 BHK      3300.0   4.0  600.00   4
8              Marathahalli      3 BHK      1310.0   3.0   63.25   3
9              Gandhi Bazar  6 Bedroom      1020.0   6.0  370.00   6

In [50]:
df4.loc[30]

location      Yelahanka
size              4 BHK
total_sqft       2475.0
bath                4.0
price             186.0
BHK                   4
Name: 30, dtype: object

In [51]:
df4.loc[410]

location      Kengeri
size            1 BHK
total_sqft        NaN
bath              1.0
price            18.5
BHK                 1
Name: 410, dtype: object